{% extends "page.html" %}

{% block title %}Edit - Harvest Source - {{ super() }}{% endblock %}
<h1>Edit harvest source</h1>

{% block optional_head %}
  <link type="text/css" rel="stylesheet" media="all" href="/css/temp.css" />
 <!-- <link rel="stylesheet" href="/css/forms.css" type="text/css" media="screen, print" />-->
  <link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('dgu_search', _('Datasets')) }}
  {{ h.build_nav('harvest', _('Harvest sources')) }}
  {{ h.build_nav('harvest_edit', _('Edit source'), id=data.id) }}
{% endblock %}

{% block primary_content_inner %}
  <h1>Edit harvest source
    {% if data.get('title') %}
      <small>{{ data.title }}</small>
    {% endif %}
  </h1>
  <div class="harvest-content">
    {% snippet 'source/new_source_form.html', data=data, errors=errors, error_summary=error_summary  %}
  </div>
{% endblock %}
