{% extends "page.html" %}

{% block title %}New - Harvest Source - {{ super() }}{% endblock %}
<h1>New harvest source</h1>

{% block optional_head %}
  {% include 'source/new_and_edit_head.html' %}  
{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('dgu_search', _('Datasets')) }}
  {{ h.build_nav('harvest', _('Harvest sources')) }}
  {{ h.build_nav('harvest_new', _('New source')) }}
{% endblock %}

{% block primary_content_inner %}
  <h1>New harvest source</h1>
  <div class="harvest-content">
    {% snippet 'source/new_source_form.html', data=data, errors=errors, error_summary=error_summary  %}
  </div>
{% endblock %}
